# ~/.config/starship.toml

# Use custom format
format = '''
 [ó±š¡ ](bold green) MEURO $directory$package$git_branch$git_status
'''

# Wait 10 milliseconds for starship to check files under the current directory.
scan_timeout = 10

# Disable the blank line at the start of the prompt
add_newline = false
